body{
    background-color: rgb(255, 255, 255);
}

.image1{
    width:700px;
    height:700px;
    margin-left: 360px;
}

.card{
    position:relative;
    width: 700px;
    height:500px;
    perspective: 1000px;
}

.cover,.back{
    background-color: rgb(255, 255, 255);
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: all 3s ease-in-out;
    font-family:sans-serif ;
    font-size:12px;
    }

.cover{
    transform:rotateY(0deg);
    width:400px;
    height:300px;
    margin-left: 330px;
    margin-top:100px;

}

.sentence2{
    margin:auto;
    width:55%;
    text-align:center;
    margin-left: 310px;
}

.word1{
    margin:auto;
    width:65%;
    text-align:center;
    margin-left: 240px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.word2{
    margin:auto;
    width:65%;
    text-align:center;
    margin-left: 240px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.back{
    transform: rotateY(-180deg);
}

.card:hover .cover{
  transform: rotateY(180deg);
}

.card:hover .back{
    transform: rotateY(0deg);
}

.sentence1{
    margin:auto;
    width:55%;
    text-align:center;
    margin-left: 310px;
}

.sentence3{
    margin:auto;
    width:55%;
    text-align:center;
    margin-left: 310px;
}

.four{
    width:400px;
    height:300px;
    margin-left:350px;
    border: solid 1px black;
}

.he{
    width:270px;
    height:300px;
    margin-top: -200px;
    margin-left:780px;
    border: solid 1px black;
}

.sentence4{
    margin:auto;
    width:55%;
    text-align:center;
    margin-left: 310px;
}

.tiantan{
    width:400px;
    height:500px;
    margin-left:490px;
    border: solid 1px black;
    box-shadow: 2px 4px 40px #999;
}